* {
  /* Retira os margins pre setados pelo navegador*/
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%); /* Variável */
  --gray: hsl(240, 9%, 89%);

  height: 100%; /* Altura total*/
  font-family: 'Roboto', sans-serif; /* A Roboto esta sendo puxada do google fonts */
  -webkit-font-smoothing: antialiased; /* Tira o serrilhamento da font para browsers baseados em webkit (chrome safari edge) */
}

body {
  display: grid; /* Forma de enxergar o bloco*/ /* Permite trabalhar com layouts */
  place-items: center; /* Colocar os itens no centro*/
}

main {
  background: url(images/Background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  /* Area total */
  max-width: 250px; /* largura maxima */
  margin-left: auto; /* margin esquerda no auto*/
  margin-right: auto; /* margin direita no auto, os dois se alinham*/
  text-align: center; /* alinha textos ao centro */

  color: var(--gray); /* Chamando a variável e define a cor dos elementos */
}

.avatar {
  /* Compreende o container da marca dagua e da foto*/
  width: 10rem; /* 10 rem = 10*16px na pagina me especifico compreende 160px*/
  margin: 11.5rem auto 0; /* Top Right Botton Left / Top Botton rightAndleft / TopAndBotton RightAndLeft */

  position: relative; /* Utilizando o position Relative o elemento passa a aceitar as propriedades Top, Bottom, Left e Right. */
}

.avatar span {
  position: absolute; /* Faz como se fosse uma página em cima da outra, a posição é relativa ao ambiente e não ao que tem antes ou dps */
  top: -15px;
  z-index: 1; /* Posição no eixo Z, 1 na frente 2 atrás e etc*/
}

.avatar > img {
  /* esse sinal aponta para a img mais "acima", relativo a pai filho e irmãos */
  width: 10rem; /*Dimensões da imagem*/
  height: 11.5rem; /* " */
  object-fit: cover; /*em vez de esticar a imagem põe ela pra "encaixar", da um zoom */

  clip-path: polygon(
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%,
    0 25%
  ); /*https://bennettfeely.com/clippy/  coloca o hexagono na imagem, pode ser outra*/
}

h1 {
  font-size: 1.5rem; /*tamanho da fonte h1*/

  margin-top: 1.5rem; /* margen superior de 1.5rem */
}

a {
  color: var(--gray); /*cor do link, variável gray */
  text-decoration: none; /* tira sublinhado ou cor após clicar */

  margin-top: 0.25rem; /* escolher top ou botton e seguir na próximas*/

  display: flex; /* Forma de enxergar o bloco */
  gap: 0.75rem; /* espaço entre os itens, precisa do display flex para ser usado*/

  justify-content: center; /*precisa do display flex tb, "Organiza" no centro*/
}

p {
  margin-top: 2rem; /* * */
}

ul {
  margin-top: 4rem; /* * */

  list-style: none; /* Retira as bolinhas e etc*/
  padding: 0; /*preenchimento zero*/

  display: flex; /* automaticamente põe um ao lado do outro no eixo MAIN */
  gap: 0.5rem; /* Distancia entre os itens*/

  justify-content: center; /*Trás ela para o meio*/
  align-items: center; /* Só para garantir */
}
